.header__lang-link {
  color: white;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: right;
  font-size: 24px;
  line-height: 28px;
  margin-left: 18px;
  text-decoration: none;
  cursor: pointer;
}

.header__lang-link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 400px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 24px;
  }
}
