.places {
  position: relative;
  margin: 0 148px;
  margin-top: 94px;
}

@media screen and (max-width: 1200px) {
  .places {
    margin: 115px 48px 0;
  }
}

@media screen and (max-width: 1000px) {
  .places {
    margin: 80px 24px 0;
  }
}

@media screen and (max-width: 760px) {
  .places {
    width: 100%;
  }
}
