.header__links {
  /*max-height: 30px;*/
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 6px;
}
