@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__image/lead__image.css);
@import url(./__caption/lead__caption.css);

.lead {
  max-width: 984px;
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  flex-direction: column;
  margin-top: 56px;
}
