@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__image/lead__image.css);
@import url(./__caption/lead__caption.css);

.lead {
  max-width: 984px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
  flex-direction: column;
  margin-top: 56px;
}
/*
@media screen and (max-width: 1024px) {
  .lead {
   padding: 0 40px 0;
  }
}*/

@media screen and (max-width: 900px) {
  .lead {
   padding: 0;
   margin-top: 45px;
  }
}
