.cover__subtitle {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  max-width: 360px;
  text-align: center;
  margin: 0 0 245px 0;
  padding: 28px 0 0;
}

@media screen and (max-width: 1024px) {
  .cover__subtitle {
    margin: 0 0 195px 0;
  }
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    margin: 0 0 115px 0;
  }
}

@media screen and (max-width: 620px) {
  .cover__subtitle {
    margin: 0 0 111px 0;
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    margin: 0 0 33px 0;
  }
}
