@import url(./__logo/header__logo.css);
@import url(./__links/header__links.css);
@import url(./__lang-link/header__lang-link.css);
@import url(./__li/header__li.css);
@import url(./__lang-link/_active/header__lang-link_active.css);

.header {
  min-height: 52px;
  max-width: 1184px;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 28px auto 0;
  align-items: flex-end;
}

@media screen and (max-width: 1280px) {
  .header {
   margin: 32px 39px 0;
  }
}

@media screen and (max-width: 768px) {
  .header {
   margin: 28px 15px 0;
  }
}

@media screen and (max-width: 320px) {
  .header {
   margin: 16px 7px 0;
  }
}
