.header__link {
  color: white;
  max-width: 28px;
  max-height: 30px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: right;
  font-size: 24px;
  line-height: 28px;
  margin-left: 18px;
  text-decoration: none;
}
