.lead__title {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-rendering: optimizeLegibility;
  color: #fff;
  text-align: center;
  max-width: 720px;
  margin: 0;
  /*margin: 0 calc((100% - 700px)/2);*/
  /*margin: 0 calc((100% - 780px)/2);*/
  /*margin: 0 calc((100% - 700px)/2);*/
  /*margin: 0 132px;*/
  padding: 1px 0 0;
}
/*
@media screen and (max-width: 900px) {
  .lead__title {
    margin: 0 calc((100% - 620px)/2);*
  }
}*.

/*добавила чтобы переход был не очень резким */
@media screen and (max-width: 740px) {
  .lead__title {
    /*margin: 0 calc((100% - 520px)/2);*/
    font-size: 70px;
    line-height: 75px;
  }
}

@media screen and (max-width: 520px) {
  .lead__title {
    /*margin: 0 calc((100% - 288px)/2);*/
    font-size: 40px;
    line-height: 44px;
  }
}
