.lead__subtitle {
  color: #fff;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: 23px 172px 0;
  padding: 0;
}
