@import url(./__overlay/cover__overlay.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);

.cover {
  position: relative;
  margin: 4px 48px 0 ;
  /*height: 740px;*/
  width: calc(100% - 96px);
}

@media screen and (max-width: 1024px) {
  .cover {
    width: 100%;
    /*height: 640px;*/
    margin: 57px 0 0 0;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    /*height: 480px;*/
    margin-top: 6px;
  }
}
/*
@media screen and (max-width: 620px) {
  .cover {
    height: 357px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    height: 200px;
  }
}*/

