@import url(./__menu/footer__menu.css);
@import url(./__li/footer__li.css);
@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);
@import url(./__ul/footer__ul.css);
@import url(./__li/footer__li.css);

.footer {
  display: flex;
  min-height: max-content;
  justify-content: space-between;
  align-items: center;
  margin: 66px auto 0;
  max-width: 1184px;
}

@media screen and (max-width: 1200px){
  .footer {
    margin: 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    margin: 0 24px;
  }
}

@media screen and (max-width: 620px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    margin: 0 16px;
  }
}
